body {
    background-color: #FFF9FB;
}

.back-button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-column-gap: 20px;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: "column-left column-right column-right"
    ". description ."
    ". color-selector ."
    ". buttons ."
    ". flipbook-viewport ."
    ". code-editor ."
    ". end-credits end-credits";
}

.imgbuttons {
    grid-area:buttons;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0px;
    grid-template-rows: auto;
    grid-template-areas: "pbutton threedots nbutton";
}

#previous {
    grid-area: pbutton;
    margin-left:auto;
    margin-right: 0px;
}

#threedots {
    grid-area: threedots;
    margin-left: 221px;
    margin-top:15px;
}

#next {
    grid-area: nbutton;
    margin-right:auto;
    margin-left:0px;
}

.column-left {
    grid-area: column-left;
    position: fixed;
}

.column-right {
    grid-area: column-right;
    font-family: "IBM Plex Sans SemiBold", SansSerif, monospace;
    font-size: 100px;
    color: #252627;
    display: block;
}

#colored-pen-count {
    font-size: 30px;
}

.description {
    grid-area: description;
}

.fb {
    grid-area: flipbook-viewport;
    margin:0 auto;
}


.code-editor {
    grid-area: code-editor;
}

.end-credits {
    grid-area: end-credits;
}

.color-selector {
    grid-area: color-selector;
}

h1 {
    font-family: "IBM Plex Sans Medium", SansSerif, monospace;
    font-size: 50px;
    color: #252627;
    display: block;
}

p {
    margin-top: -30px;
    font-family: "IBM Plex Sans", SansSerif, monospace;
    font-size: 30px;
    color: #252627;
    display: block;
}

#emp {
    font-family: "IBM Plex Sans SemiBold", SansSerif, monospace;
    font-size: 40px;
    color: #252627;
    display: block;
}

#user-input ,#curr, #iterations{
    font-size: 30px;
}

#input {
    font-family: "IBM Plex Sans Medium", SansSerif, monospace;
    font-size: 30px;
    color: #252627;
    display: inline-block;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    text-align: center;
    width: 70px;

}

input,
textarea,
select {
    outline: 0;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border: solid 2px #252627;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a{
    text-decoration: none;
}

#codeframe{
    margin-bottom: 20px;
    padding:0;
    border-top: #252627 4px dotted;
    border-right: #252627 4px dotted;
    border-left: #252627 4px dotted;
    border-bottom: #252627 4px dotted;
}

#copycode{
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: "IBM Plex Mono Text", SansSerif, monospace;
    font-size: 30px;
    color: #252627;
    display: block;
    width: 900px;
    height: auto;
}

#editorlink {
    margin-top: -30px;
    font-family: "IBM Plex Sans", SansSerif, monospace;
    font-size: 30px;
    color: #252627;
    display: block;
}

body{
    opacity: 0;
}

#seqtitle {
    margin-top:7px;
}